@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
    margin: 0 auto;
    display: flex;
    padding: 28px 48px 58px;
    justify-content: space-between;
    align-items: flex-end;
    width: 93%;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 93%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 91%;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: 90%;
        align-items: center;
        padding-top: 16px;
    }
}